### Flutter ###
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.flutter-versions
.coverage/
generated_plugin_registrant.dart

### Android ###
android/.gradle/
android/app/build/
android/local.properties
*.jks
*.keystore

### iOS ###
ios/Flutter/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/

### IntelliJ IDEA ###
.idea/
*.iml
out/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
desktop.ini

### Others ###
*.log
*.lock
*.tmp
*.swp
*.apk
*.ipa
*.orig
*.env